/* customized responsive grid layout derived from skeleton */

/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


$first-break-width: 959px;
$collapse-width: 768px; 

$number-menu-items: 5;

$third-width: 300px;
$two-thirds-width: 2 * $third-width;

/** BASE **/


column {
  margin-left: $margin;
  margin-right: $margin;
  float: left;
  display: inline;
}

column-full {
  @extend column;
  float: none;
  display: block;
}

column-third {
  @extend column;
  width: $third-width;
}

column-fifth {
  @extend column;
  width: (960px - (10 * $margin)) / 5;
}

/** SPECIFIC ELEMENTS **/

body {
  position: relative; width: 960px; margin: 0 auto; padding: 0;  
}


.page-header,
.issue-box,
footer,
.single-post article,
article.type-page ,
.site-branding {
  @extend column-full;
}


#issue-headers,
#issue-description,
.row article,
.main-navigation .method-navigation li { 
  @extend column;
}


#issue-headers,
.row article {
  @extend column-third;
}



#issue-description {
  @extend column-third;
}

/* special cases */
#issue-headers {
  margin-left: 0; /* already has a left margin because it's inside the header */
}
#issue-description {
  width: $two-thirds-width;
  margin-right: 0; /* already has a right margin bc inside header */
}




.main-navigation  {
  padding-left: $margin - $margin-thin;
  padding-right: $margin - $margin-thin;
  
  .method-navigation li {
    margin-left: $margin-thin;
    width: ((960px) - (($number-menu-items * 2 * $margin-thin) + 2 * ($margin - $margin-thin)) )  / $number-menu-items;
    margin-left: $margin-thin;
    margin-right: $margin-thin;
    display: inline;
}}


.main-navigation ul ul {
  top: 2.1em;
  a {
  width: 100%; // follow rules here not underscores defaults
  }
}

.method_library {

  .entry-content {
    width: 100%;
    max-width: none;
    ul {
      margin-left: -10px;
      margin-right: -10px;
    }
     li {
       display: inline;
       @extend column-fifth;
       ul {
         margin-left: 0;
       }
       li {
         margin-left: 0;
         margin-right: 0;
         padding: 0;
       }
     }
  }
}


/* FIRST BREAK 
================================================== */

@media only screen and (min-width: $collapse-width) and (max-width: $first-break-width) {

  body             { width: 768px; }

  #issue-listing  { width: 748px; }
    
  #issue-headers,  
  .row article     { width: 236px; }
  
  #issue-description { width: 236px * 2; }
  
  .main-navigation  .method-navigation li {
  width: ((768px) - (($number-menu-items * 2 * $margin-thin) + 2 * ($margin - $margin-thin)) )  / $number-menu-items;
  }
  
   .page-template-default .entry-header img,
  .issue-image img {
    margin-left: -(960 - $first-break-width) / 2;
  }
  
  .method_library {
    .entry-content {  
       li { 
         width: (768px - (4 * 2 * $margin)) / 4;
       }
    }
  }
  
  
} // Media first break



/* COLLAPSE EVERYTHING
================================================== */

/*  #Mobile (Portrait)
================================================== */

/* Note: Design for a width of 320px */


@media screen and (max-width: $collapse-width - 1) { 
  
  body { width: 100%; }
  
  
collapsed-column {
  width: 100%;
  float: none;
  display: block;
  padding: 0;
  margin: $padding 0 0 0;
}

.single .entry-content,
#issue-description,
.main-navigation .method-navigation li,
.page-header,
.issue-box,
#issue-listing,
#issue-headers,
.issue-image,
.row article,
  .row article,
  article.type-page,
  footer,
  .site-branding {
    @extend collapsed-column;
  }
  
  /* specific overrides */  
    .page-header, .issue-image {
      margin-top: 0;
    }
    

 .site-title {
      font-size: 5rem;
      .first-letter {
        font-size: 5rem * 1.5;
      }
    }
    
    .site-description {
      padding-bottom: $padding;
      font-size: 1.8rem;
    }

   
   
    #menu-menu {
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    .main-navigation  {
      background: $color-light-fill;
      width: 100%;
    }
    
  	.menu-toggle,
  	.main-navigation.toggled .nav-menu {
  		display: block;
      width: 100%;
      text-align: left;
  	}

    .menu-toggle {
      font-size: 3rem;
      line-height: 3rem;
      padding: $margin/2 $margin;
    }

  	.main-navigation ul {
  		display: none;
  	}
    
    
    .page-template-default .entry-header img,
    .issue-image img {
      margin-left: -(960 - $collapse-width) / 2;
    }


    .method_library {
      .entry-content {  
        ul {
          margin: 0;
        }
         li { 
           width: 100%;
           margin: 0;
         }
      }
    }

    
}




/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: $collapse-width - 1) {
      body { width: 480px;}
      
      /* keep everything as above, but never let the body get wider than 480px */

      .method_library {
        .entry-content {  
          ul {
            margin: 0 -10px;
          }
           li { 
             width: (480px - (2 * 2 * $margin)) / 3;
             margin-left: $margin;
             margin-right: $margin;
           }
        }
      }

    }

/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }

